body {
    background-color: rgb(241, 201, 233);
    font-family: 'Times New Roman', Times, serif;
    margin:  0;
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

main {
    background-color: white;
    max-width: 900px;
    width: 95%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5p 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}


.profile {
    display: flex;
    flex-wrap: wrap;          
    align-items: center;     
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}


.center-image img {
    max-width: 100%;  
    width: 300px;    
    height: auto;
    border-radius: 10px;
}

.center-image figcaption {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.personal {
    background: rgb(219, 134, 231);
    padding: 15px;
    border-radius: 10px;
    max-width: 300px;  
    flex: 1 1 200px;   
}

.personal-info li {
    margin-bottom: 8px;
    font-size: 18px;
}

section {
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
}


@media (max-width: 600px) {
    .profile {
        flex-direction: column; 
        text-align: center;   
    }

    .center-image img,.personal {
        width: 100%;            
        max-width: 300px;      
    }
}



