body {
    background-color:  rgb(241, 201, 233);
    font-family: 'Times New Roman', Times, serif;
    }
h1 {
    text-align: center;
}

.profile {
  position: relative;
  text-align: center;
}

.center-image {
  margin: 0 auto;
}

.personal {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background: rgb(219, 134, 231);
  padding: 15px;
  border-radius: 10px;
}
.personal-info li {
  margin-bottom: 8px;
  font-size: 18px;
}

